body {
  margin: 0px;
}
.wrapper {
  display: flex;
  padding: 20px 50px 50px;
}
.wrapper > div {
  width: 50%;
  padding-right: 20px;
  padding-left: 20px;
}
h1 {
  margin-top: 0;
}
.header h1 {
  font-size: 24px;
  margin-right: 20px;
}
.header-wrap > * {
  display: inline-block;
}
.require {
  color: red;
}
.header {
  position: relative;
  top: 0px;
  background-color: #6ab89e;
  padding: 10px 10px 3px;
}
.input-group {
  display: flex;
  padding-bottom: 20px;
}
.input-group > * {
  width: 50%;
}
input {
  width: 100%;
}
.textarea {
  width: 100%;
  height: 100px;
}
.input-group select {
  width: 102%;
  height: 25px;
}
h3 {
  font-weight: 600;
  margin: 5px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 18px;
  text-decoration: underline;
}
.checkbox input {
  width: auto !important;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #9e9e9e;
}
footer input {
  margin: 10px;
  width: 100px;
  height: 30px;
  background-color: #6ab89e;
  border: none;
  color: white;
}
.htmlcheck {
  padding: 20px;
}
.htmlcheck > * {
  display: inline-block;
}
